 
{% block contenidoQ2cambia %}
<title> Un poco sobre mi</title>

<h1>Hola, mi nombre es jair, vivo en argentina, tengo 22 años
    
</h1>
<h2> en esta pagina web, mi idea principal fue hacer una pagina web donde el usuario <br>
    encuentre cursos, tecnicas y como aprender a jugar a cierto juego que el desee profesionalmente, se que falta pulirlo mas, poner enlaces, videos y demas.



</h2>
<Br>

<h3>Me gusto mucho este curso, fue muy entretenido, gracias a este curso ahora comprendo mas con lo referido a la programacion, fue un buen curso de inicio, pienso dedicarme al full stack. <br>
    y este curso fue una gran base para empezar con ello, muchas gracias. a los tutores y a los profes.
</h3>
{% endblock %}